{% extends "base.html" %}


{% block head %}
    <script type="text/javascript" src="{{url_for('static', filename='d3.v3.min.js')}}" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='d3.layout.cloud.js')}}" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-1.10.1.min.js')}}" ></script>
    <script type="text/javascript" src="{{url_for('static', filename='legview.js')}}" ></script>
{% endblock %}


{% block content %}
<style>
.mainel {
    height:   100%;
    width:    100%;
}
</style>
<script type="text/javascript" >
    query('{{who}}');
</script>
{% endblock %}
